.TaskInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__buttons-container {
    display: flex;
    gap: 10px;
  }

  .completed {
    text-decoration: line-through;
  }

  .removeButton {
    color: #f00f;
  }

  .editButton {
    color: #ffa500ff;
  }
}
