.Task-card-view {
  background-color: #0fff;
  border: 3px solid #000f;
  border-radius: 5px;

  max-width: 100%;
  padding: 15px;

  &--completed {
    background-color: #067b00;
  }

  &_edit-mode {
    background-color: #77767e;
  }
}
