.Tasks-page-view {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;

  &__form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
