@import "@wildberries/ui-kit/lib/style.module";

.Tasks-page-view {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 32px;

  @media #{$mobile} {
    flex-direction: column;
    justify-content: normal;
    padding: 10px 16px;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
  }
}
