.wrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;

  .completed {
    text-decoration: line-through;
  }

  .removeButton {
    color: #f00f;
  }

  .editButton {
    color: #ffa500ff;
  }
}
